.bookmark {
  width: 300px;
  height: 100px;
  margin: 80px auto;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  position: absolute;
  top: 50%;
  right: 1%; /* adjust based on your book’s width */
  cursor: pointer;
  transition: opacity 0.7s ease;
  z-index: 2;
  clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
}
.bookmark:hover {
  transform: translateX(210px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
.bookmark:active {
  transform: translateX(212px) scale(0.95);
}
