@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes blur-delay {
    0%,
    60% {
      filter: blur(0);
    }
    100% {
      filter: blur(8px);
    }
  }
  .animate-blur-delay {
    animation: blur-delay 3s forwards;
  }
}
