@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blurDelay {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(8px);
  }
}

@layer utilities {
  .animate-blur-delay {
    animation: blurDelay 3s forwards;
  }
}