@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #78BCB0;
  --color-accent: #B99758;
  --color-background: #F4EAEA;
  --color-dark: #56374E;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-dark);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}