.background_full{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    background-image: url("/images/blurry_classroom.png") !important;
    background-color: var(--color-primary);
    background-position: center -100px;
}

.detention_card{
    position: relative;
    width: 910px;
    height: 700px;
    background-image: url("/images/detention_slip2.png") !important;
    background-position: center 50%;
}

.riotID_box{
    position: absolute;
    z-index: 10;
    top: 22.5%;
    left: 19%;
    width: 38%;
    height: 4%;
    color: white;
    background-color: rgb(54, 51, 51);
    border: solid #8b7355;
    border-radius: 5px;
    padding-left: 0.5rem;
}

.riotID_box::placeholder{
    color: lightgrey;
    opacity: 70%;
}

.tagline_box{
    position: absolute;
    z-index: 10;
    top: 22.5%;
    left: 73%;
    width: 15%;
    height: 4%;
    color: white;
    background-color: rgb(54, 51, 51);
    border: solid #8b7355;
    border-radius: 5px;
    padding-left: 0.5rem;
}

.tagline_box::placeholder{
    color: lightgrey;
    opacity: 70%;
}

.num_games_analyzed_box{
    position: absolute;
    z-index: 10;
    top: 54%;
    left: 81%;
    width: 8%;
    height: 4%;
    color: white;
    background-color: rgb(54, 51, 51);
    border: solid #8b7355;
    border-radius: 5px;
    padding-left: 0.5rem;
}

.num_games_analyzed_box::placeholder{
    color: lightgrey;
    opacity: 70%;
}



