.background_full{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    background-image: url("/images/blurry_classroom.png") !important;
    background-color: var(--color-primary);
    background-position: center -100px;
}

.detention_card{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/images/detention_slip.png") !important;
    background-position: center -100px;
}

.riotID_box{
    position: relative;
    z-index: 10;
    top:50%;
    left:50%;
    width: 5%;
    height: 5%;
    background-color: var(--color-accent);
}