.split-background-container {
  position: relative; /* Essential for positioning child divs */
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevent scrollbars if content overflows */
}

.background-top,
.background-bot {
  position: absolute;
  left: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.background-top {
  top: 0;
  width: 100%;
  height: 65%;
  background-image: url('/images/Yuumi_BattlePrincipalSkin.webp');
  background-color: var(--color-primary);
  background-position: center -100px;
}

.background-bot {
  bottom: 0;
  width: 100%;
  height: 35%;
  background-color: var(--color-background);
}

.background-top::after,
.background-bot::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-top::after {
  bottom: 0;
  background: linear-gradient(to bottom, rgba(244,234,234,0) 70%, #F4EAEA 100%);
}

.background-bot::before {
  top: 0;
  background: linear-gradient(to top, rgba(244,234,234,0) 70%, #F4EAEA 100%);
}
